/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1,h2,h3,h4,h5,h6{
        font-size: 22px;
    }
    .b_text h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .ab-btm {
        margin-bottom: 30px;
    }
    .serv {
        height: 13vh !important;
    }
    .ser2, .ser3{
       margin-top: 0px;
    }
    .service1, .service3{
        padding: 0px;
    }
    .service2 {
       padding-top: 100px;
       padding-bottom: 0px;
    }
    .ser{
        margin-top: 20px;
    }
    .ser4 {
        margin-top: 20px;
    }
    .features-item {
        padding: 0px;
    }
    .features-item .icon {
        height: 0px;
    }
    .features-item {
        margin-bottom: 135px;
    }
    .f_text {
         margin-top: 0px;
        width: auto;
    }
    .c_form {
        padding: 40px 19px;
    }
    .footer {
        padding-top: 70px;
        padding-bottom: 10px;
        text-align: center;
    }
    .box{
        margin-bottom: 15px;
    }
    .box a {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0px;
    }
    .footer .credit {
        text-align: center;
        padding: 1.5rem;
       padding-top: 0px;
       margin-top: 0px;
       font-size: 16px;
    }
}  

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 425px) and (max-width: 767.98px) {
    .ab_text {
        text-align: center;
    }
    .features-item {
        padding: 0px;
    }
    .features-item .icon {
        height: 0px;
    }
    .features-item {
        margin-bottom: 135px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
   h1,h2,h3,h4,h5,h6{
    font-size: 30px;
   }
   .b_text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    }
    .ser2, .ser3{
        margin-top: 0px;
    }
    .ser4 {
        margin-top: 50px;
    }
    .features-item {
        padding: 0px;
    }
    .features-item .icon {
        height: 0px;
    }
    .f_img {
        margin-top: 100px;
    }
    .top h1 {
        font-size: 34px;
        letter-spacing: 0.1rem;
    }
    .box a {
        font-size: 20px;
    }
    .text{
        text-align: right;
    }
    .c_item{
        text-align: center;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){

}